In [3]:
from itertools import count

import pandas as pd

In [4]:
df = pd.read_csv('/Users/vedantsuthar/Desktop/diamonds.csv')

In [7]:
df.head(10)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39

In [8]:
df.tail(10)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
53930,53931,0.71,Premium,E,SI1,60.5,55.0,2756,5.79,5.74,3.49
53931,53932,0.71,Premium,F,SI1,59.8,62.0,2756,5.74,5.73,3.43
53932,53933,0.70,Very Good,E,VS2,60.5,59.0,2757,5.71,5.76,3.47
53933,53934,0.70,Very Good,E,VS2,61.2,59.0,2757,5.69,5.72,3.49
53934,53935,0.72,Premium,D,SI1,62.7,59.0,2757,5.69,5.73,3.58
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB

In [13]:
df.describe()

,Unnamed: 0,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,26970.500000,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,15571.281097,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,1.000000,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,13485.750000,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,26970.500000,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,40455.250000,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,53940.000000,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [15]:
df.shape

(53940, 11)

In [16]:
df.dtypes

Unnamed: 0      int64
carat         float64
cut            object
color          object
clarity        object
depth         float64
table         float64
price           int64
x             float64
y             float64
z             float64
dtype: object

In [17]:
df.columns

Index(['Unnamed: 0', 'carat', 'cut', 'color', 'clarity', 'depth', 'table',
       'price', 'x', 'y', 'z'],
      dtype='object')

In [23]:
df[(df['cut']=='Ideal')& ((df['color']== 'B') | (df['color']== 'E'))]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
82,83,0.26,Ideal,E,VVS2,62.9,58.0,554,4.02,4.06,2.54
90,91,0.70,Ideal,E,SI1,62.5,57.0,2757,5.70,5.72,3.57
109,110,0.59,Ideal,E,VVS2,62.0,55.0,2761,5.38,5.43,3.35
111,112,0.74,Ideal,E,SI2,62.2,56.0,2761,5.80,5.84,3.62
...,...,...,...,...,...,...,...,...,...,...,...
53876,53877,0.70,Ideal,E,SI1,61.7,55.0,2745,5.71,5.74,3.53
53878,53879,0.51,Ideal,E,VVS1,61.9,54.0,2745,5.17,5.11,3.18
53891,53892,0.56,Ideal,E,VVS1,62.1,56.0,2750,5.28,5.29,3.28
53915,53916,0.77,Ideal,E,SI2,62.1,56.0,2753,5.84,5.86,3.63
53926,53927,0.71,Ideal,E,SI1,61.9,56.0,2756,5.71,5.73,3.54

In [27]:
df1 = df[['cut','color','clarity','price']]
df1

             cut color clarity  price
0          Ideal     E     SI2    326
1        Premium     E     SI1    326
2           Good     E     VS1    327
3        Premium     I     VS2    334
4           Good     J     SI2    335
...          ...   ...     ...    ...
53935      Ideal     D     SI1   2757
53936       Good     D     SI1   2757
53937  Very Good     D     SI1   2757
53938    Premium     H     SI2   2757
53939      Ideal     D     SI2   2757

[53940 rows x 4 columns]

In [33]:
df.rename(columns = {'cut' : 'c1','color' : 'c2','clarity' : 'c3'}, inplace = True)
df

,Unnamed: 0,carat,c1,c2,c3,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [32]:
df

,Unnamed: 0,carat,c1,c2,c3,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [36]:
df.sort_values(by=['c2','c3','price'], ascending=[True,False,False])
df

,Unnamed: 0,carat,c1,c2,c3,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [42]:
df1= df.drop(columns=['c1'])
df1

       Unnamed: 0  carat c2   c3  depth  table  price     x     y     z
0               1   0.23  E  SI2   61.5   55.0    326  3.95  3.98  2.43
1               2   0.21  E  SI1   59.8   61.0    326  3.89  3.84  2.31
2               3   0.23  E  VS1   56.9   65.0    327  4.05  4.07  2.31
3               4   0.29  I  VS2   62.4   58.0    334  4.20  4.23  2.63
4               5   0.31  J  SI2   63.3   58.0    335  4.34  4.35  2.75
...           ...    ... ..  ...    ...    ...    ...   ...   ...   ...
53935       53936   0.72  D  SI1   60.8   57.0   2757  5.75  5.76  3.50
53936       53937   0.72  D  SI1   63.1   55.0   2757  5.69  5.75  3.61
53937       53938   0.70  D  SI1   62.8   60.0   2757  5.66  5.68  3.56
53938       53939   0.86  H  SI2   61.0   58.0   2757  6.15  6.12  3.74
53939       53940   0.75  D  SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]