In [38]:
import numpy as np
import pandas as pd

In [45]:
df = pd.read_csv('/Users/vedantsuthar/Desktop/diamonds.csv')
df

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

In [46]:
df.drop(columns=['Unnamed: 0'],inplace=True)
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [47]:
df2 =df.groupby('color')['price'].sum()
df2

color
D    21476439
E    30142944
F    35542866
G    45158240
H    37257301
I    27608146
J    14949281
Name: price, dtype: int64

In [48]:
df3=df.groupby(['cut','clarity'])['depth'].agg(['min','max'])
df3

                    min   max
cut       clarity
Fair      I1       55.6  78.2
          IF       52.3  65.5
          SI1      43.0  72.9
          SI2      53.1  72.2
          VS1      50.8  71.8
          VS2      44.0  79.0
          VVS1     54.0  67.6
          VVS2     51.0  67.6
Good      I1       56.5  64.3
          IF       56.2  65.6
          SI1      56.5  66.2
          SI2      54.3  66.0
          VS1      56.3  65.9
          VS2      56.1  67.0
          VVS1     56.0  66.5
          VVS2     56.5  66.1
Ideal     I1       58.6  65.4
          IF       58.9  63.1
          SI1      58.5  65.1
          SI2      58.3  65.5
          VS1      58.7  64.9
          VS2      43.0  66.7
          VVS1     58.0  63.4
          VVS2     59.1  63.4
Premium   I1       58.0  63.0
          IF       58.0  63.0
          SI1      58.0  63.0
          SI2      58.0  63.0
          VS1      58.0  63.0
          VS2      58.0  63.0
          VVS1     58.0  63.0
          VVS2     58.1  63.0
Very Good I1       58.1  63.5
          IF       57.9  64.0
          SI1      57.5  64.4
          SI2      56.8  64.7
          VS1      57.1  64.6
          VS2      57.2  64.7
          VVS1     57.2  64.2
          VVS2     57.1  64.9

In [49]:
df4=df.groupby(['cut','color','clarity']).agg({'cut':'count','table':'mean','depth':'mean','price':'mean'})
df4

                         cut      table      depth        price
cut       color clarity
Fair      D     I1         4  56.750000  65.600000  7383.000000
                IF         3  58.000000  60.766667  1619.666667
                SI1       58  58.758621  64.634483  4273.344828
                SI2       56  58.642857  64.703571  4355.142857
                VS1        5  57.800000  63.160000  2921.200000
...                      ...        ...        ...          ...
Very Good J     SI2      128  58.772656  61.835938  5992.898438
                VS1      120  58.043333  62.024167  4339.591667
                VS2      184  58.302717  61.868478  5325.548913
                VVS1      19  58.026316  61.684211  3175.526316
                VVS2      29  58.344828  62.410345  5960.448276

[276 rows x 4 columns]

In [41]:
df5 = df[df['price']>5000]
df5

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
11416,11417,1.16,Ideal,E,SI2,62.7,56.0,5001,6.69,6.73,4.21
11417,11418,1.16,Ideal,E,SI2,59.9,57.0,5001,6.80,6.82,4.08
11418,11419,0.90,Good,G,VVS2,63.6,58.0,5001,6.10,6.11,3.88
11419,11420,0.90,Very Good,E,VS1,62.3,56.0,5001,6.10,6.19,3.83
11420,11421,0.90,Premium,D,VS2,62.6,59.0,5001,6.14,6.17,3.85
...,...,...,...,...,...,...,...,...,...,...,...
27745,27746,2.00,Very Good,H,SI1,62.8,57.0,18803,7.95,8.00,5.01
27746,27747,2.07,Ideal,G,SI2,62.5,55.0,18804,8.20,8.13,5.11
27747,27748,1.51,Ideal,G,IF,61.7,55.0,18806,7.37,7.41,4.56
27748,27749,2.00,Very Good,G,SI1,63.5,56.0,18818,7.90,7.97,5.04
27749,27750,2.29,Premium,I,VS2,60.8,60.0,18823,8.50,8.47,5.16

In [54]:
df['new']= np.where(df['price']>=300,"300 - 800",
           np.where(df['price']>=800,"800 - 1500",
           np.where(df['price']>=1500,"1500 - 6000",
           np.where(df['price']<=10000,"6000 - 10000","more then 10000"))))
df.head(100000)

,carat,cut,color,clarity,depth,table,price,x,y,z,new
0,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,300 - 800
1,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,300 - 800
2,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,300 - 800
3,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,300 - 800
4,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,300 - 800
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,300 - 800
53936,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,300 - 800
53937,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,300 - 800
53938,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,300 - 800
53939,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,300 - 800